body {
    margin: 0;
    overflow-x: hidden;
    min-height: 100vh;
}

.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-wrapper {
    flex: 1;
}

.poppins {
    font-family: 'Poppins';
}

.poppins-semiBold-italic {
    font-family: 'Poppins';
    font-weight: 600;
    font-style: italic;
}