.campaign-heading {
    height: 250px;
    background-image: url('https://www.premierleague.com/resources/prod/v6.103.2-4532/i/bg-elements/promo-pattern-header-nrfr.svg');
    background-color: black;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    color: white;
    display: flex;
    align-items: center;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10px;
    margin-top: 15px;
}

.campaign-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
    font-family: Arial, Helvetica, sans-serif
}

.video-container {
    width: 75%;
}

#video {
    width: 100%;
}

.promo {
    background-color: black;
    width: 100%;
    color: white;
    display: flex;
}

.find-out-more {
    color: white;
    font-size: 1.2rem;
}

.info {
    width: 400px;
    margin-left: 40px;
}

.banner {
    display: flex;
    width: 250px;
    height: 70px;
    align-self: flex-end;
    background-image: url('https://www.premierleague.com/resources/prod/v6.103.2-4532/i/bg-elements/promo-pattern-nrfr.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

#h1 {
    font-size: 5rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#h2 {
    color: #EAFF04;
    font-size: 2.5rem;
}

#h4 {
    color: rgb(250, 33, 109);
    cursor: pointer;
}