.footer {
    height: 18em;
    width: 100%;
    background-color: rgb(56,0,60);
    color: white;
    display: flex;
    justify-content: space-evenly;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navigation, .social-media {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navigation > *:link {
    color: white;
}

.navigation > *:hover, .social-media > *:hover {
    text-decoration: underline;
    cursor: pointer;
}

#copyright {
    display: flex;
    align-items: flex-end;
    cursor: pointer;
    text-decoration: none;
}

#copyright :first-child {
    text-decoration: none;
}

#copyright :first-child:visited {
    color: white;
    text-decoration: none;
}

.social-media-links {
    text-decoration: none;
}

.social-media-links:visited {
    color: white;
}

@media screen and (max-width: 500px) {
    .footer {
        font-size: .6rem;
    }
}