.results-heading {
    height: 6.5em;
    background-color: rgb(56,0,60);
    background-image: url('https://www.premierleague.com/resources/prod/v6.101.4-4472/i/bg-elements/heading-bg-desktop.svg');
    background-size: cover;
    color: white;
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 15px;
    padding-left: 10px;
}

.results {
    margin-top: 6em;
    padding-bottom: 3em;
}

#results-date {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(233,0,82);
    margin-left: 2rem;
}

.results-container {
    display: flex;
    align-items: center;
    height: 5em;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray; 
    padding-left: 1em;
}

.results-container:hover {
    background-image: linear-gradient(to right, rgb(8, 88, 209), rgb(7, 224, 231));
    color: white;
}

.results-container:hover > *:nth-child(3) {
    background-color: white;
    color: black;
}

.results-container > *:first-child, .results-container > *:nth-child(5) {
    display: flex;
    justify-content: center;
    width: 10em;
    font-size: 1.1rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.results-container > *:nth-child(2), .results-container > *:nth-child(4) {
    width: 3em;
    transition: .4s;
}
.results-container > *:nth-child(2):hover, .results-container > *:nth-child(4):hover {
    transform: scale(1.5);
}

.results-container > *:nth-child(3) {
    font-size: 1.2rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(56,0,60);
    color: white;
    width: 3em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.results-container > *:nth-child(6) {
    width: 3em;
    transition: .4s;
}
.results-container > *:nth-child(6):hover {
    transform: scale(2.5);
}

.results-container > *:nth-child(7) {
    font-style: italic;
    margin-left: 5px;

}

@media screen and (min-width: 320px) {

    .results-container {
        padding: 0;
        justify-content: space-around;
    }

    .results-container > *:first-child, .results-container > *:nth-child(5) {
        font-size: .9rem;
        font-weight: normal;
    }

    .results-container > *:nth-child(3) {
        font-size: .9rem;
    }

    .results-container > *:nth-child(6), .results-container > *:nth-child(7) {
        display: none;
    }
}

@media screen and (min-width: 600px) {

    .results-container > *:first-child, .results-container > *:nth-child(5) {
        font-weight: bold;
    }

    .resultss-container > *:nth-child(6), .results-container > *:nth-child(7) {
        display: flex;
        font-size: .8rem;
    }
}

@media screen and (min-width: 750px) {
    .results-container > *:first-child, .results-container > *:nth-child(5) {
        font-size: 1.2rem
    }

    .results-container > *:nth-child(3) {
        font-size: 1.2rem;
    }

    .results-container > *:nth-child(6), .results-container > *:nth-child(7) {
        font-size: 1rem;
    }
}

@media screen and (min-width: 1000px) {

    .results-container > *:nth-child(6) {
        display: flex;
    }

    .results-container > *:nth-child(7) {
        font-size: 1.2rem;
        width: 8em;
    }
}